*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#nav{
    background-color: #333;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav a{
    text-decoration: none;
    color: #f2f2f2;
}

#nav a:hover{
    color: darkorange;
}

#navLetras{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 200px;
}

#navSeg{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedorH{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

#contenedorH img{
    height: 600px;
}

#seccionP{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 51px;
}

#divTexto{
    display: block;
    align-items: center;
    text-align: center;
}

.fotoPeq{
    width: 400px;
}

.fotoGrand{
    width: 600px
}

#contenedorF{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 51px;
}

#contenedorF div{
    background-color: #333;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: aliceblue;
    padding: auto;
}

.naranja{
    color: orange;
}

.letraGrande{
    font-size: xx-large;
}

.textoDiv{
    padding-top: 10px;
}